@use '../util/' as *;


main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    padding: 0 rem(100);
    max-width: rem(1880);
    height: 100vh;
    margin: 0 rem(48);
    display: inline-flex;
    align-items: center;
}


.cards {
    padding-left: rem(30);
    display: grid;
    grid-template-columns: repeat(auto-fit, rem(255));
    grid-template-areas: 
      "card1 card2 card3"
      "card4 card5 card6"
    ;
    gap: rem(40);
    height: 100vh;
    align-content: center;
    align-items: center;


    // Layout for laptop
    @include breakpoint(laptop) {
        display: grid;
        grid-template-columns: repeat(auto-fit, rem(255));
        grid-template-rows: repeat(auto-fit, rem(200));
        grid-template-areas: 
        "card1 card2" 
        "card3 card4"
        "card5 card6";  
    }
}



