// Add this section of code to all addition component scss pages 
@use '../util/' as *;
@use '../globals/' as *;



.results {
    background: var(--darkblue);
    color: var(--vrypaleblue);
    width: rem(255);
    height: rem(200);
    font: var(--font);
    border-radius: rem(10);
    text-align: start;
    padding: rem(30);

    &--work {
        border-top: rem(44) solid var(--lightorange);
        border-radius: rem(15);
    }

    &--play {
        border-top: rem(44) solid var(--softblue);
        border-radius: rem(15);
    }

    &--study {
        border-top: rem(44) solid var(--lightred);
        border-radius: rem(15);
    }

    &--exercise {
        border-top: rem(44) solid var(--green);
        border-radius: rem(15);
    }

    &--social {
        border-top: rem(44) solid var(--violet);
        border-radius: rem(15);
    }

    &--selfcare {
        border-top: rem(44) solid var(--yellow);
        border-radius: rem(15);
    }


    &__title {
        margin-bottom: rem(20);
        padding-left: rem(10);
        font-size: rem(16);
        font-weight: 600;
    }

    &__time {
        font-size: rem(40);
        padding-left: rem(10);
        margin-bottom: rem(5);
    }

    &__date {
        &__weekly {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            align-content: end;
            height: 3vh;
            color: var(--paleblue);
            font-size: rem(15);
            justify-content: center;
   
            &--up {
                color: var(--limegreen);
            }

            &--down {
                color: var(--brightred);
            }

            &--netrual {
                color: var(--paleblue);
            }
        }
    }
}